@import '../Settings/settings.scss';

.o-wrapper {
    margin: 0 auto;
    max-width: 1920px;
    background-color: $white;
    position: relative;
    padding-top: 128px;
    padding-bottom: 90px;

    @include at-breakpoint(lap) {
        padding-top: 88px;
    }

    @include at-breakpoint(handheld) {
        padding-top: 60px;
        padding-bottom: 190px;

        &--no-pad {
            padding-top: 0;
        }
    }

    &--no-pad {
        padding-top: 0;
        width: auto;
        background-color: transparent;
    }
}