@import '../Settings/settings.scss';

body {
    font-family: $font-family-default;
    position: relative;
    background-color: $white;
    color: $grey;
    min-height: 100%;


    &:before {
        content: '';
        background-color: transparent;
    }

    &.navigation-active {
        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: rgba($dark-grey, 0.9);
            z-index: 10;
        }
    }
}
