
input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

[data-moving-label] {
    position: relative;

    label {
        pointer-events: none;
        display: block;
        font-weight: 400;
        position: absolute;
        top: 10px;
        left: 12px;
        cursor: text;
        transition: all ease-in 0.2s;
        color: #808080;
        background-color: white;

        &.active {
            top: -12px;
            padding: 0 5px;
            left: 3px;
        }
    }

    input {
        width: 100%;
        padding: 12px 10px;
        border-radius: 8px;
        border: 1px solid #333333;
    }
}
