@import "mixins";

@include at-breakpoints(".u-hide") {
    display: none !important;

    &.is-active {
        display: block !important;
    }
}

.u-clear {
    @include clearfix;
}

.u-text-ellipsis {
    @include text-ellipsis;
}

// Push 5 10 15 20 25 30 | top right bottom left
// I.E: .u-push--5, .u-push-top--15
// Do not overuse as it can hurt readability. Elements with existing classes should NOT use these classes.
$push-directions: "top", "right", "bottom", "left";
@for $i from 1 through 6 {
    @include at-breakpoints(".u-push--#{$i * 5}") {
        margin: $i * 5px;
    }

    @each $direction in $push-directions {
        @include at-breakpoints(".u-push-#{$direction}--#{$i * 5}") {
            margin-#{$direction}: $i * 5px;
        }
    }
}