/* BASE */
$page-gutter: 30px;

/* TYPOGRAPHY */
$font-family-default: "Lato";

$font-size-default: 15px;

/* COLORS */
// http://hslpicker.com
$blue: hsla(213, 100%, 45%, 1);
$orange: hsla(27, 94%, 50%, 1);
$green: hsla(86, 98%, 38%, 1);

$main-color: $orange;

$av-namespace: "o-grid";
$av-width-class-style: 'fragment'; // Width class naming style. Can be 'fraction', 'percentage' or 'fragment'

// Retina mixin   "retina":           "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)"

/* BREAKPOINTS */
$phone-breakpoint: "screen and (max-width: 599px)";
$tablet-breakpoint: "screen and (min-width: 600px) and (max-width: 899px)";
$tablet-and-up-breakpoint: "screen and (min-width: 600px)";
$desk-small-breakpoint: "screen and (min-width: 900px) and (max-width: 1199px)";
$desk-small-and-up-breakpoint: "screen and (min-width: 900px)";
$desk-and-up-breakpoint: "screen and (min-width: 1200px)";

$av-breakpoints: ( 
    "palm": (max-width: 599px),
    "lap": (min-width: 600px) and (max-width: 899px),
    "desk": (min-width: 900px) and (max-width: 1200px)
);