/* BASE */
$page-gutter: 30px;

/* TYPOGRAPHY */
$font-family-default: "Lato";

$font-size-default: 15px;

/* COLORS */
// http://hslpicker.com
$blue: hsla(213, 100%, 45%, 1);
$orange: hsla(27, 94%, 50%, 1);
$green: hsla(86, 98%, 38%, 1);

/* BREAKPOINTS */
$palm-breakpoint: "screen and (max-width: 480px)";
$handheld-breakpoint: "screen and (max-width: 768px)";
$handheld-and-up-breakpoint: "screen and (min-width: 769px)";
$lap-breakpoint: "screen and (max-width: 1024px)";
$lap-and-up-breakpoint: "screen and (min-width: 1025px)";
$desk-breakpoint: "screen and (min-width: 1280px)";
$desk-and-down-breakpoint: "screen and (max-width: 1280px)";

$breakpoints: ( 
    "palm": (max-width: 800px),
    "large": (max-width: 1000px),
    "huge": (max-width: 1200px)
);