$palm-breakpoint: "screen and (max-width: 480px)";
$handheld-breakpoint: "screen and (max-width: 768px)";
$handheld-and-up-breakpoint: "screen and (min-width: 769px)";
$lap-breakpoint: "screen and (max-width: 1024px)";
$lap-and-up-breakpoint: "screen and (min-width: 1025px)";
$desk-breakpoint: "screen and (min-width: 1280px)";
$desk-and-down-breakpoint: "screen and (max-width: 1280px)";


$breakpoints: ( 
    "desk-and-down": $desk-and-down-breakpoint,
    "lap": $lap-breakpoint, 
    "lap-and-up": $lap-and-up-breakpoint, 
    "handheld": $handheld-breakpoint, 
    "handheld-and-up": $handheld-and-up-breakpoint, 
    "palm": $palm-breakpoint,
    "desk": $desk-breakpoint
) !default;
