@import "functions";

/* TYPOGRAPHY */
$font-family-default: "Lato" !default;

$font-size-default: 15 !default;

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;


/* COLORS */
// http://hslpicker.com
// Give the color variables descriptive names to indicate what the color is and its tone/tint
$blue-deep: hsla(213, 100%, 35%, 1);
$green-forest: hsla(86, 58%, 38%, 1);
$green-bright: tint($green-forest, 30%);

// Can be overridden in themes
$color-primary: $green-forest !default;
$color-secondary: $blue-deep !default;


/* MEDIA QUERIES */
$media-query-phone: "screen and (max-width: 599px)";
$media-query-tablet: "screen and (min-width: 600px) and (max-width: 899px)";
$media-query-tablet-and-up: "screen and (min-width: 600px)";
$media-query-desk-small: "screen and (min-width: 900px) and (max-width: 1199px)";
$media-query-desk-small-and-up: "screen and (min-width: 900px)";
$media-query-desk-and-up: "screen and (min-width: 1200px)";
$media-query-retina: "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)";


/* AVALANCHE OVERRIDES */
$av-namespace: "o-grid";
$av-width-class-style: 'fragment';
$av-breakpoints: ( 
    "phone": $media-query-phone,
    "tablet": $media-query-tablet,
    "tablet-and-up": $media-query-tablet-and-up,
    "desk-small": $media-query-desk-small,
    "desk-small-and-up": $media-query-desk-small-and-up,
    "desk-and-up": $media-query-desk-and-up,
    "retina": $media-query-retina
);